.img-banner {
  max-height: 350px;
  min-height: 300px;
  width: 100%;
}

.box-info {
  align-items: center;
  background-color: #614EA6;
  color: #FFF;
  display: flex;
  flex-direction: column;
}

.btn-edit i {
  bottom: 10px;
  color: #F21667;
  position: fixed;
  right: 10px;
  transition: .3s ease-in;
}

.btn-edit i:hover {
  color: #614EA6;
}

.title {
  color: #614EA6;
}

.views {
  align-items: center;
  color: #614EA6;
  display: flex;
  justify-content: end;
}

.views span {
  margin: 0 10px;
}