.card-footer {
  color: #614EA6;
  height: 3rem;
}

.btn-details {
  background-color: #614EA6;
  color: #FFF;
}

.btn-details:hover {
  background-color: #F21667;
  color: #FFF;
}

.card-text {
  max-height: 3.5rem;
  min-height: 3.5rem;
  overflow: hidden;
}

.img-card {
  max-height: 200px;
  max-width: 100%;
}